<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="/js/validate.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/login.css" rel="stylesheet">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <form class="form-signin" action="/register" method="post" id="form">
      <div class="well">
        <h2 class="form-signin-heading">Register</h2>
        <!-- <p id="error"></p> -->
        <label for="username">Username</label>
        <input class="form-control" type="text" id="username" required autofocus>
        <label for="email">E-mail </label>
        <input class="form-control" type="email" id="email" onchange="validateEmail()" required>
        <label for="password">Password</label>
        <input class="form-control" type="password" id="password" onchange="validatePassword()" required>
        <label for="password1">Retype Password</label>
        <input class="form-control" type="password" id="password1" onchange="validatePassword()" required>

        <!-- <div class="row" >
          <div class="col-xs-12">
            <div class="alert alert-danger text-center">Wrong username or password</div>
          </div>
        </div> -->
        <div class="row">
          <div class="col-xs-6" style="padding-right: 0px;">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
          </div>
        </div>
        <!-- <a href="registration.html" class="btn btn-lg btn-info btn-block" type="submit">Create new account</a> -->
      </div>
    </form>
  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
</body>
</html>